<div
  *ngIf="check() && userDetails != undefined && this.service.getOneEvent"
>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="mat-elevation-z8" *ngFor="let item of this.service.getOneEvent">
    <h4 class="name">{{item.name}}</h4>
    <img
      class="avatar mat-elevation-z8"
      src="{{item.photoUrl}}"
    />


    <p class="designation"><strong style="font-size:12px ;">Created By : </strong>{{item.createdBy}}</p>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button" >
      <mat-icon>location_city</mat-icon>
      <span>City : {{ item.city }}</span>
    </button>
    <button mat-button class="menu-button" >
      <mat-icon>location_on</mat-icon>
      <span>Location : {{ item.location }}</span>
    </button>
    <button mat-button class="menu-button" >
      <mat-icon>sports</mat-icon>
      <span>Sport Type : {{ item.sportType }}</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>group</mat-icon>
      <span>Size : {{ item.size }}</span>
    </button>
    <button mat-button class="menu-button" >
      <mat-icon>date_range</mat-icon>
      <span>Start Date : {{ item.startDate | date }}</span>
    </button>

    <button mat-button class="menu-button" >
      <mat-icon>date_range</mat-icon>
      <span>End Date : {{ item.endDate | date }}</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>date_range</mat-icon>
      <span>Estimate Time : {{ item.estimateTime }}</span>
    </button>
    <button mat-button class="menu-button" >
      <mat-icon>money</mat-icon>
      <span>Amount : {{ item.amount }}</span>
    </button>
    <button mat-button class="menu-button" >
      <mat-icon>people</mat-icon>
      <span>Count : {{ item.count }}</span>
    </button>


    <mat-divider></mat-divider>
    <button mat-button class="menu-button" >
      <mat-icon>contacts</mat-icon>
      <span>    Contact : {{item.contact}}
      </span>
    </button>
    <button mat-button class="menu-button" >
      <mat-icon>comment</mat-icon>
      <span>{{ item.description }}</span>
    </button>
    <ng-container *ngIf="item.createdBy == userDetails.userName">
      <button
        mat-fab
        color="accent"
        style="float: right; margin-right: 2%"
        *ngIf="item.id"
        (click)="deleteEvent(this.userDetails.id, item.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-fab
        color="accent"
        style="float: right; margin-right: 2%"
        routerLink="/edit-event/{{ item.id }}"
        routerLinkActive="active"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8" *ngIf="this.userService.eventUsers">
      <h2>Participants</h2>
      <mat-list>
        <mat-list-item *ngFor="let user of userService.eventUsers">
          <img src="../../../assets/img/pepeProfile.png" matListAvatar alt="" />
          <div matLine>Username : {{ user.userName }}</div>
          <div matLine>Age : {{ user.age }}</div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>





<!--   <div class="col" style="flex: 3">
 <mat-card class="card" *ngFor="let item of this.service.getOneEvent">
      <mat-card-header class="card-header">
        <mat-card-title
          ><strong
            ><h1>{{ item.name }}</h1></strong
          ></mat-card-title
        >
      </mat-card-header>
      <mat-card-content class="content">
        <p>City : {{ item.city }}</p>
        <p><strong>Location : </strong> {{ item.location }}</p>
        <p>Sport Type : {{ item.sportType }}</p>
        <p>Size : {{ item.size }}</p>
        <p>Start Date : {{ item.startDate | date }}</p>
        <p>End Date : {{ item.endDate | date }}</p>
        <p>Estimate Time : {{ item.estimateTime }}</p>
        <p>Amount : {{ item.amount }}</p>
        <p>Created By : {{ item.createdBy }}</p>
        <p>Count : {{ item.count }}</p>
        <p>Contact : {{item.contact}}</p>
      </mat-card-content>

      <mat-card-footer>
        <h3>Description :</h3>
        <p>{{ item.description }}</p>
      </mat-card-footer>
      <ng-container *ngIf="item.createdBy == userDetails.userName">
        <button
          mat-fab
          color="accent"
          style="float: right; margin-right: 2%"
          *ngIf="item.id"
          (click)="deleteEvent(this.userDetails.id, item.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-fab
          color="accent"
          style="float: right; margin-right: 2%"
          routerLink="/edit-event/{{ item.id }}"
          routerLinkActive="active"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </ng-container>
    </mat-card>



  </div>-->



</div>
