<div class="" style="text-align: center;margin-top: 2%;">
  <h1>Created Events</h1>
</div>
    <div *ngIf="this.EventService.createdList && this.EventService.createdList.length">
      <table
        mat-table
        [dataSource]="dataSourceCreatedEvents!"
        matSort
        class="mat-elevation-z8"
        style="border-radius: 2%;width:100%;"
      >

        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by name"
          >
            Title
          </th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by symbol"
          >
            City
          </th>
          <td mat-cell *matCellDef="let element">{{ element.city }}</td>
        </ng-container>

        <ng-container matColumnDef="sportType">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by symbol"
          >
            sportType
          </th>
          <td mat-cell *matCellDef="let element">{{ element.sportType }}</td>
        </ng-container>

        <ng-container matColumnDef="size">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by symbol"
          >
            size
          </th>
          <td mat-cell *matCellDef="let element">{{ element.size }}</td>
        </ng-container>

        <ng-container matColumnDef="count">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by symbol"
          >
            count
          </th>
          <td mat-cell *matCellDef="let element">{{ element.count }}</td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by symbol"
          >
            startDate
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.startDate | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef class="TableHeaderRow">
            info
          </th>
          <td mat-cell *matCellDef="let myRowData2">
            <button
              mat-mini-fab
              color="primary"
              aria-label="info Row"
              routerLink="/eventdetails/{{ myRowData2.id }}"
            >
              <mat-icon>info_outline</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
      </table>
      <mat-paginator  style="width: 100%;" id="pagination2" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
