<mat-card class="matcard" [formGroup]='formModel' (ngSubmit)="onSubmit(formModel)">
  <div class="form-group" fxLayout='column'>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        matInput
        formControlName="UserName"
        placeholder=""
        required

        class="form-control"
      />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="Password"
        [type]="hide ? 'password' : 'text'"
        placeholder=""
        required
        class="form-control"
      />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

      </button>

    </mat-form-field>
  </div>
  <div fxLayout="row" class ='button' >

    <button class="asd" mat-raised-button color="primary" type="submit"  [disabled]="formModel.invalid" (click)="onSubmit(formModel)" >Login</button>
    </div>
</mat-card>
<!-- [(ngModel)]="formModel.UserName" -->
