<div class="banner">
  <br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />br
  <br /><br /><br /><br /><br />
  <div class="navbar">
    <img src="" alt="" class="logo" />
    <ul>
      <li><a href="#"></a></li>
      <li><a href=""></a></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <div class="content">
    <h1>SPORTTIME</h1>
    <p>
      The Sporttime project provides the opportunity for people to create events in the sports they do, participate in events, and <br> thus find friends with whom they can socialize and do their hobbies together.    </p>

    <div>
      <button type="button" routerLink="/get-events" routerLinkActive="active"><span></span> LET'S GET STARTED</button>
    </div>
  </div>
</div>
